<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebLab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!--
  <error-page>
  	<error-code>404</error-code>
  	<location>/ch6/error_page.html</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.RuntimeException</exception-type>
  	<location>/ch6/error_code.html</location>
  </error-page>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>ch6.MyServlet</servlet-class>
	  	<init-param>
	  		<param-name>param1</param-name>
	  		<param-value>param1.data</param-value>
	  	</init-param>
	  	<init-param>
	  		<param-name>param2</param-name>
	  		<param-value>param2.data</param-value>
	  	</init-param>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>MyServlet</servlet-name>
  		<url-pattern>/test</url-pattern>
  	</servlet-mapping>
   -->
</web-app>